@import url(./assets/fonts/square/square.css);
@import url(./assets/fonts/ubuntu/ubuntu.css);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  color: #fff;
  font-family: "Ubuntu";
  background-color: rgb(1, 18, 44);
}

.cursive {
  font-family: "SquarePeg";
}

#app {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
}
